<html>
  <head>
  <% include ./navbar.ejs %>
  </head>
  <center>
<h1>Get a domain!</h1>
<p><b>1</b>. Go to our github. (link inserted soon) then press on the file sites.js .</p>
 <br>
 <p><b>2</b>. Press the pencil then add you add a comma to the previous"user": "repo url". Then put the pull request title as the subdomain you want. And</p>
 <br>
  </center>
</html>
