<html>
  <head>
  <% include ./navbar.ejs %>
  </head>
  <center>
<h1>Get a domain!</h1>
<p><b>1</b>. Go to our <a target="_blank" href="https://github.com/RileyDatLord/ghdo">github</a>. Then press on the file <a target="_blank" href="https://github.com/RileyDatLord/ghdo/master/sites.json">sites.json</a> .</p>
 <br>
 <p><b>2</b>. Press the pencil then add "subdomain": "user/repo".</p>
 <br>
  <p>Example: I want foo.ghdo.pw and my user is Razod and my repo is called foo. I would put ' "foo": "razod/foo" ' in the code.</p>
 <br>
  <p><b>3</b>. Create the pull request and the title should be subdomain.ghdo.pw for me it would be foo.ghdo.pw</p>
 <br>
  </center>
      <% include ./footer.ejs %>
</html>
