
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Github domains. By <a href="https://github.com/rileydatlord">RileyDatLord</a> and <a href="https://github.com/razod">Razod</a>.</span>
      </div>
    </footer>
