<html>
  <head>
  <% include ./navbar.ejs %>
  </head>
  <center>
<h1>Github Domains</h1>
<p>We provide free domains for people using github pages, glitch.com, or heroku apps!</p>
  <a class="btn btn-danger" href="/domains" role="button">Get a domain</a>
  </center>
</html>
