<html>
  <head>
  <% include ./navbar.ejs %>
  </head>
  <center>
  <br>
  <br>
  <br>
  <h1>Github Domains</h1>
  <p>We provide custom domains for free!<br>People who use Github Pages, Glitch, or Heroku can easily get a free domain!</p>
  <br>
  <br>
  <br>
  <a class="btn btn-danger" href="/domains" role="button">Get a domain</a>
  <br><br>
  <iframe src="https://titanembeds.com/embed/440325316326588416" height="350" width="350" frameborder="0"></iframe>
  <br><br>
  </center>
    <% include ./footer.ejs %>
</html>
