<html>

<head>
    <% include ./navbar.ejs %>
        <meta name="google-site-verification" content="sOWVZDXx475toWCbfD9kLyY23OHMqHHc2Q_VJaAB1Kg" />
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9324218571788828",
    enable_page_level_ads: true
  });
</script>
</head>

<body>
    <center>
        <br>
        <br>
        <br>
        <h1>Github Domains</h1>
        <p>We provide custom domains for free!
            <br>People who use Github Pages, Glitch, or Heroku can easily get a free domain!</p>
        <br>
        <br>
        <br>
        <a class="btn btn-danger" href="/domains" role="button">Get a domain</a>
        <br>
        <br>
        <br>
        <br>
    </center>
    <% include ./footer.ejs %>
</body>

</html>
