
<meta charset="UTF-8">
<title>ghdo.pw | Free domains for Github Pages!</title>
<meta name="description" content="Github Domains
Free domains for anyone using
glitch.com, heroku, or gitub pages."/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link href="https://fonts.googleapis.com/css?family=Mukta+Mahee" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<style>
    /* width */
    ::-webkit-scrollbar {
        width: 6px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: black;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(95, 86, 86); 
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #2c2626; 
    }
    .navbar {
        background-color: #2A0F4F;
    }
    .navbar-right a {
        color: #fff;
    }
    .navbar .navbar-right a:hover {
        color: #44276E;
    }
    .nav>li>a:focus, .nav>li>a:hover {
        background-color: #836BA5;
        
    }
    .navbar-brand {
        font-size: 28px;
        color: #fff;
    }
    .navbar-brand:hover, .navbar-brand:focus {
        color: #fff;
    }
    .text-muted {
    color: #6c757d!important;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 576px)
.container {
    max-width: 540px;
}

    
</style>

<div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="/">
                 <em><strong>GithubDomains</strong></em>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/domains">Get a domain</a></li>
                    <li><a href="/discord">Discord</a></li>
                    <li><a target="_blank" href="https://github.com/RileyDatLord/ghdo">Github</a></li>
                </ul>
            </div>
    </div>
</div> 

